<table class="table table-striped table-hover caption-top">
    <caption>last updated: {% now "r" %}</caption>
    <thead>
        <tr>
            <th scope="col">queue</th>
            <th scope="col">survey_field</th>
            <th scope="col">ra</th>
            <th scope="col">dec</th>
            <th scope="col">observations</th>
            <th scope="col">options</th>
        </tr>
    </thead>
    <tbody hx-confirm="Are you sure?" hx-target="closest tr" hx-swap="outerHTML swap:1s">
        {% for observation in object_list %}
        <tr>
            <th scope="row">{{ observation.queue_id }}</th>
            <td>{{ observation.survey_field.survey_field_id }}</td>
            <td>{{ observation.survey_field.ra}}</td>
            <td>{{ observation.survey_field.dec}}</td>
            <td>{{ observation.survey_field.observations}}</td>
            <td>
                <button type="submit" 
                {% if user.is_authenticated %}
                class="btn btn-danger" hx-delete="{% url "dashboard:observed" observation.pk %}"
                {% else %}
                class="btn btn-danger" disabled 
                {% endif %}>
                Mark Observed
                </button>
            </td>
        </tr>

        {% empty %}
        <tr>
            <td colspan="3"> No objects in the list. </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

